.league-header {
  width: 100vw;
  min-height: 780px;
  /* background-image: url("../Images/Sports/Badminton.jpg"); */
  background-repeat: no-repeat;
  background-size: 648px 780px;
  background-position: 15% 0%;
  padding: 144px 48px 0 0;
  margin-bottom: 96px;
}
.div-league .list {
  margin: 0 48px 96px 48px;
}
.div-league h4 {
  line-height: 90px;
}