/*Genarals*/
.Animation{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.Animation span{
    font-size: 13px;
    font-weight: 0;
}



/*Animation border bottom red */



.Left-to-right {
    position: relative;
    font-size: 1.8em;
    color: var(--white);
    z-index: 1;
    text-transform: uppercase;
  }

.Left-to-right:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 10px solid var(--red);
    transition: 0.4s ease-in-out ;
    z-index: -1;
   
}
.Left-to-right:hover:after {
    width: 100%;
    z-index: -1;
   
}

/*Arrow Animation red 
*/

/*
.ArrowBox{
    position: relative;
    margin: 100px;
}
.Arrow {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: rotate(-45deg);
  }
.Arrow::before {
    content: "";
    width: 100%;
    height: 100%;
    border: 2px solid var(--red);
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }

.Arrow:hover::before {
    border-color: var(--red);
    transform: scale(0.8);
  }
*/

/**********************************/




/************************************/





.Arrow {
    border: 1px solid var(--red);
    border-width: 0 0 2px 2px;
    width: 100px;
    height: 100px;
    margin: 100px;
    transform: rotate(135deg);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.Arrow:hover {
     background-color: var(--red);
  }
.Arrow-foot{
    position: absolute;
    border: 1px solid var(--red);
    border-width: 2px 0 2px 2px;
    width: 100px;
    height: 50px;
    bottom: 60px;
    left: 35px;
    transform: rotate(135deg);
  }

.Arrow-foot:hover{
      background-color: var(--red);
  }

  .Arrow-block{
    position: absolute;
    background-color: #000;
    border: 1px solid var(--red);
    border-width: 0 2px 0 0 ;
    width: 100px;
    height: 45px;
    bottom: 96px;
    left: 0px;
    transform: rotate(135deg);
  }

  .Arrow-block-1{
    position: absolute;
    background-color: #000;
    border: 1px solid var(--red);
    border-width: 0 2px 0 0 ;
    width: 95px;
    height: 48px;
    bottom: 23px;
    left: 69px;
    transform: rotate(135deg);
  }
/******************************/

/* .arrow-up{
    position: relative;
    left:0;
    top:0;
    width: 0px;
    height: 0px ;
    border-left: 60px solid transparent;
    border-right:60px solid transparent;
    border-bottom: 60px solid var(--red);
  } */


  /***************************************/

  /* .icon {
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
    transform: rotate(-90deg);
  }
  
  .arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);

  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #fff;
  }
  
  .arrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }
 */


  /*****************************************/



/*Scale Animation */

.ScaleAnimation{
    font-size: 1.8em;
    color: var(--white);
    z-index: 1;
    text-transform: uppercase;
    width: 500px;
    height: 100px;
    transition: transform 200ms ease-in;
    
}
.ScaleAnimation:hover{
    padding-left: 100px;
    transform: scale(1.4); 
 
}

.ScaleAnimation-Span:hover{
    display: inline-block;
    transform: scale(0.5); 
}


