/*Generals*/
.Animation{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.Animation span{
    font-size: 24px;
    font-weight: 0;
}



.pfeil:hover .pfeil-innen {
  y: 0;
  transition: all .5s ease-in;
}  



/*Unterstrich*/



.Left-to-right {
    position: relative;
    z-index: 1;
  }

.Left-to-right::before  {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 10px solid var(--red);
    transition: 0.4s ease-in-out ;
    z-index: -1;
   
}
.Left-to-right:hover::before {
    width: 100%;
    z-index: -1;
   
}


/*Scale Animation */

.ScaleAnimation-Container {
  display: inline;
}


.ScaleAnimation-Container:hover {
  /* width: 100%; */
  height: 102px;
}

.ScaleAnimation{
    font-size: 48px;
    color: var(--white);
    z-index: 1;
    text-transform: uppercase;
    width: 100%;
    height: 100px;
    transition: all 1s ease-in;
}

.ScaleAnimation:hover{
    font-size: 84px;
}


