.filterbar-list {
  margin: 0 48px 144px 48px;
}

.list-wrapper h4 {
  line-height: 90px;
}

.filterbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}
/* Anzeige ausgwähltes Land */
.sportHidden {
  width: fit-content;
  height: 41px;
  border: solid 4px white;
  padding: 0 14px;
  opacity: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.sportShown {
  opacity: 1;
}
.sportShown img {
  margin-right: 10px;
  cursor: pointer;
}

/* Dropdown Menues */
.selectdown,
.select-wrapper-up {
  position: relative;
  width: 300px;
  background-color: black;
}

.select {
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  width: 300px;
  height: 40px;
  border: solid 4px white;
  cursor: pointer;
}
.selectdown::after {
  content: url("../Images/arrow-down.png");
  position: absolute;
  right: 12px;
  top: 10px;
  pointer-events: none;
}
.select-wrapper-up::after {
  content: url("../Images/arrow-up.png");
  position: absolute;
  right: 12px;
  top: 10px;
  pointer-events: none;
}
.dropdown-wrapper {
  position: relative;
}
.hidden {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 220px;
  border: solid 4px white;
  border-top: none;
  overflow: scroll;
  display: none;
  background-color: black;
  z-index: 10;
}
.dropdown-shown {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 220px;
  border: solid 4px white;
  border-top: none;
  overflow: scroll;
  display: block;
}
.container {
  position: relative;
  height: 40px;
  border-bottom: solid 2px white;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  appearance: none;
  background: transparent;
  color: white;
  cursor: pointer;
  padding-left: 40px;
}
/* hide default check box */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/*custom check box */
.checkmark {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 16px;
  width: 16px;
  background-image: url("../Images/Non-checked.svg");
  background-repeat: no-repeat;
  background-size: cover;
  list-style: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after,
.checkmark::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background: white;
  left: 7px;
  top: 0px;
  display: none;
}

.checkmark:after {
  transform: rotate(-45deg);
  z-index: 1;
}

.checkmark:before {
  transform: rotate(45deg);
  z-index: 1;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after,
.container input:checked ~ .checkmark:before {
  display: block;
}
