.filterbar-list {
  margin: 0 48px 96px 48px;
}

.filterbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}
/* Anzeige ausgwähltes Land */
.sportHidden {
  width: fit-content;
  height: 41px;
  border: solid 4px white;
  padding: 0 14px;
  opacity: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.sportShown {
  opacity: 1;
}
.sportShown img {
  margin-right: 10px;
  cursor: pointer;
}

/* Dropdown Menues */
.selectdown,
.select-wrapper-up {
  position: relative;
  width: 300px;
  /* margin-left: 18px; */
}
.select {
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  width: 300px;
  height: 40px;
  border: solid 4px white;
  cursor: pointer;
}
.selectdown::after {
  content: url("../Images/arrow-down.png");
  position: absolute;
  right: 12px;
  top: 10px;
  pointer-events: none;
}
.select-wrapper-up::after {
  content: url("../Images/arrow-up.png");
  position: absolute;
  right: 12px;
  top: 10px;
  pointer-events: none;
}
.dropdown-wrapper {
  position: relative;
}
.hidden {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 220px;
  border: solid 4px white;
  border-top: none;
  overflow: scroll;
  display: none;
}
.dropdown-shown {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 220px;
  border: solid 4px white;
  border-top: none;
  overflow: scroll;
  display: block;
}
.container {
  position: relative;
  height: 40px;
  border-bottom: solid 2px white;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  appearance: none;
  background: transparent;
  color: white;
  cursor: pointer;
  padding-left: 40px;
}
/* hide default check box */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/*custom check box */
.checkmark {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 16px;
  width: 16px;
  background-image: url("../Images/Non-checked.svg");
  background-repeat: no-repeat;
  background-size: cover;
  list-style: none;
}

/* .Check {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 16px;
  width: 16px;
  background-image: url("../Images/Check.svg");
  background-repeat: no-repeat;
  background-size: cover;
  list-style: none; */
/* } */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* .containerNone input:checked ~ .checkmark:after {
  display: none;
  background-color: green;
} */

.none .checkmark:after {
  content: none;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 3px;
  height: 8px;
  border: solid red;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* .dropdowns {
  display: flex;
} */
/* .countrySelect {
  margin-right: 18px;
}
select {
  width: 100%;
  height: 41px;
  border: solid 4px white;
  padding: 0 12px;
  display: flex;
  align-items: center;
  font-size: 18px;
  appearance: none;
  background: transparent;
  color: white;
  cursor: pointer;
}
.select-wrapper {
  position: relative;
  width: 300px;
  margin-left: 18px;
}
.select-wrapper::after {
  content: url("../Images/arrow-down.png");
  position: absolute;
  right: 12px;
  top: 10px;
  pointer-events: none;
} */
