@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --red: #e83539;
  /* --white: #fff; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 168px;
  text-align: right;
  color: var(--red);
  line-height: 168px;
}
h2 {
  font-size: 84px;
  font-weight: 700;
  text-align: right;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  color: var(--red);
}
h4 {
  font-family: "Montserrat", sans-serif;
}
h4 span {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
h5 {
  font-size: 36px;
  font-weight: 700;
}

h6{
  font-size: 60px;
}
p {
  font-size: 18px;
  line-height: 180%;
  font-weight: 400;
}
h1,
h3 {
  color: var(--red);
}








/*Tablet*/
@media screen and (max-width: 768px) {
    h1{
      font-size: 134px;
    }
    h2{
      font-size: 67px
    }
    h3{
      font-size: 76px;
    }
    h4{
      font-size: 19px;
    }
    h5{
      font-size: 29px;
    }
    h6{
      font-size: 48px;
    }
    P{
      font-size: 16px;
    }
}

/*Handy*/
@media screen and (max-width: 576px) {
    h1{
      font-size: 93px;
    }
    h2{
      font-size: 47px
    }
    h3{
      font-size: 50px;
    }
    h4{
      font-size: 16px;
    }
    h5{
      font-size: 20px;
    }
    h6{
      font-size: 33px;
    }
    p{
      font-size: 14px;
    }
}